{% extends '/admin/dashboard.html.twig' %}

{% set futureGames = games['futureGames'] %}
{% set playedGames = games['playedGames'] %}

{% block admin_dashboard_content %}

    <div class="admin-games">
        <div class="admin-games-header">
    Aktueller Spieltag = {{ config.get('currentMatchday') }}
        </div>
        <a href="{{ path('admin.games.update') }}">
            <button>Spiele abholen</button>
        </a>
        <div class="admin-games-tables">
            <div>
                {% include '/admin/games/games-table.html.twig' with { games: futureGames } %}
            </div>
            <div>
                {% include '/admin/games/games-table.html.twig' with { games: activeGames } %}
            </div>
            <div>
                {% include '/admin/games/games-table.html.twig' with { games: playedGames } %}
            </div>
        </div>
    </div>
{% endblock %}
