{% extends 'base.html.twig' %}

{% block title %}Start{% endblock %}

{% block content %}
    <div class="content-grid">
        <div>
            <div {{ vue_component('AsyncBlTable', { apiUrl: config.get('BL1_TABLE_API_URL') }) }}></div>
        </div>
        <div class="matchday-container">
            <div class="matchday"
                {{ vue_component('Matchday', { games: currentMatchday, interaction: true }) }}></div>
            <hr>
            <div class="matchday"
                {{ vue_component('Matchday', { games: lastMatchday, interaction: false }) }}></div>
        </div>
        <div>
            lb
        </div>
    </div>
{% endblock %}
