{% extends 'base.html.twig' %}

{% block title %}Start{% endblock %}

{% block content %}
    <div class="content-grid one-three">

        <div {{ vue_component('AsyncLeaderBoardTable', {
            apiUrl: config.get('LEADERBOARD_TABLE_URL')
        }) }}></div>

        <div class="content-main">
            <h2>Nächstes Spiel</h2>
            <div {{ vue_component('Bet', {
                interaction: true,
                userId: null,
                homeClub: 'test',
                awayClub: 'string',
                betHomeGoals: -1,
                betAwayGoals:  -1
            }) }}></div>
        </div>
    </div>
    <div class="content-grid two-two">
        <div {{ vue_component('AsyncBlTable', {
            apiUrl: config.get('BL1_TABLE_API_URL')
        }) }}></div>
        <div><h2>Ergebnisse</h2>
        <p>Letzte ergebnisse mit community bet in zusammnhang</p>
        </div>
    </div>
{% endblock %}
