{% extends 'base.html.twig' %}

{% block title %}Start{% endblock %}

{% block content %}
<div {{ vue_component('asyncBlTable', {apiUrl: 'https://api.openligadb.de/getbltable/bl1/2025' }) }}></div>
{% endblock %}
