{% if user is not defined %}
    {% set user = app.user %}
{% endif %}

{% set homePath = path('app.index') %}
{% set userBetsPath = user is not null ? path('app.bets.show', {id: user.id}) : null %}

{% block navigation %}
    <nav class="main-nav">
        <div class="content-wrapper">
            <div class="main-nav-items" {{ vue_component('NavMenu', {
                homePath,
                userBetsPath
            }) }}></div>
            <div {{ vue_component('NavProfileActions',{
                'name': user is not null ? user.userProfile.name : null,
                'profilePath': user is not null ? path('app.profile.show', {'id': user.id}) : null,
                'loginPath': path('app.login')
            }) }}></div>
        </div>
    </nav>
{% endblock %}
