
$unit: 8px;

$tn: $unit;
$sm: $unit*2;
$md: $unit*4;
$lg: $unit*8;
$xl: $unit*16;

$success: rgba(0, 255, 0, 0.5);
$error: rgba(255, 0, 0, 0.5);
$button-neutral-color: #547808;

$background-color-dark: rgba(28, 28, 28, 0.9);
$background-color-darkest: rgba(28, 28, 28, 0.99);
$light-gray: rgba(255, 255, 255, 0.25);

$smFont: 0.75rem;
$mdFont: 1rem;

body {
    padding: 0;
    margin: 0;
    background-color: $background-color-dark;
    color: white;
    a,
    a:visited {
        color: white;
    }
}

.content-wrapper {
    margin:0 auto;
    max-width: 1280px;
}

.button {
    padding: $tn $sm;
    background-color: $button-neutral-color;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid $button-neutral-color;
    border-radius: $tn;
    cursor: pointer;
}

.flash-container {
    position: absolute;
    left:0;
    right:0;
    top:0;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.flash {
    top: $sm;
    right: 0;
    left: 0;
    padding: $sm;
    max-width: 300px;
    margin: $sm auto;
    border: 1px solid black;
}
.flash-success {
    background-color: $success;
}
.flash-error {
    background-color: $error;
}

@import './navigation.scss';

.content-grid {
    padding: $md 0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: $md;
}
.bl-table {
    font-size: $smFont;
}
.matchday-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $sm;
    .matchday {
        width: 100%;
    }
}
.matchday-table {
    background-color: $background-color-darkest;
    width: 100%;
    padding: $sm;
    border: 1px solid white;

    .game {
        margin: $md 0;
        .date {
            margin: $tn 0;
        }
        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .home, .away {
                width: 49%;
                display: flex;
                padding: $sm $md;
                position: relative;
            }
            .home {
                justify-content: flex-end;
            }
            .away {
                justify-content: flex-start;
            }
            .bet-home, .bet-away {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: $sm;
                position: relative;
            }
            .bet-home {
                left:0;
            }
        }

    }
}
