body {
    background-color: lightgray;
}

$unit: 8px;

$tn: $unit;
$sm: $unit*2;
$md: $unit*4;
$lg: $unit*8;
$xl: $unit*16;

$success: rgba(0, 255, 0, 0.5);
$error: rgba(255, 0, 0, 0.5);


$button-neutral-color: #547808;

.button {
    padding: $tn $sm;
    background-color: $button-neutral-color;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid $button-neutral-color;
    border-radius: $tn;
    cursor: pointer;
}

.main-nav {
    display: flex;
    padding: $sm $md;
    justify-content: space-between;
    align-items: center;
}
.flash-container {
    position: absolute;
    left:0;
    right:0;
    top:0;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.flash {
    top: $sm;
    right: 0;
    left: 0;
    padding: $sm;
    max-width: 300px;
    margin: $sm auto;
    border: 1px solid black;
}
.flash-success {
    background-color: $success;
}
.flash-error {
    background-color: $error;
}
