
$unit: 8px;

$tn: $unit;
$sm: $unit*2;
$md: $unit*4;
$lg: $unit*8;
$xl: $unit*16;

$success: rgba(0, 255, 0, 0.5);
$error: rgba(255, 0, 0, 0.5);
$button-neutral-color: #547808;

$primary-red: #982222;
$background-color-dark: rgba(40,40,40,0.75);
$background-color-darkest: rgba(28, 28, 28, 0.99);
$light-gray-border: rgba(200, 200, 200, 0.25);

$smFont: 0.75rem;
$mdFont: 1rem;

body {
    padding: 0;
    margin: 0;
    background-color: $background-color-darkest;
    color: white;
    a,
    a:visited {
        color: white;
    }
}

.content-wrapper {
    margin:0 auto;
    max-width: 1280px;
}

.button {
    padding: $tn $sm;
    background-color: $button-neutral-color;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid $button-neutral-color;
    border-radius: $tn;
    cursor: pointer;
}

.flash-container {
    position: absolute;
    left:0;
    right:0;
    top:0;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.flash {
    top: $sm;
    right: 0;
    left: 0;
    padding: $sm;
    max-width: 300px;
    margin: $sm auto;
    border: 1px solid black;
}
.flash-success {
    background-color: $success;
}
.flash-error {
    background-color: $error;
}

@import './navigation.scss';

.content-grid {
    padding: $md 0;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: $sm;
}
.bl-table {
    font-size: 12px;
    background-color: $background-color-dark;
    padding: $tn $sm;
    border: 1px solid $light-gray-border;
    border-radius: $tn;
}
.matchday-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $sm;
    .matchday {
        width: 100%;
    }
    padding-top: $md;
}
.matchday-table {
    background-color: $background-color-dark;
    width: 100%;
    padding: 0 0 $sm 0;
    margin: $md auto;
    border: 1px solid $light-gray-border;
    border-radius: $tn;
    .label {
        text-align: center;
        font-size: 2rem;
        margin: 0 0 $sm 0;
        background-color: $primary-red;
        padding: $tn $sm;
        border:1px solid $light-gray-border;
        border-radius: $tn $tn 0 0;
    }
    .date {
        margin: $sm $tn;
    }
    .game {
        margin: $sm 0;
        border-bottom: 1px solid $light-gray-border;
        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .home, .away {
                width: 49%;
                font-size: 1.25rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: $tn $sm;
                position: relative;
            }
            .home-goals, .away-goals {
                font-size: 2rem;
                font-weight: bold;
            }
            .bet-home, .bet-away {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: $sm;
                position: relative;
                span {
                    padding: $tn $sm;
                    border: 1px solid $light-gray-border;
                    font-weight: bold;
                    font-size: 1.5rem;
                    user-select: none;
                    &:last-child {
                        border-left: none;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .bet-home {
                left:0;
            }
        }

    }
}
