.bet-header {
  background-color: $background-color-darkest;
  padding: $tn $md;
  font-weight: 400;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-weight: 300;
  }
}

.bet-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(90deg, $background-color-darkest 0%, $background-color-dark 50%, $background-color-darkest 100%);
  margin: $md $tn;
  padding: $tn;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6), /* Grundschatten für Tiefe */
  0 8px 20px rgba(0, 0, 0, 0.5), /* weicher Glow nach außen */
  0 0 15px rgba(255, 255, 255, 0.05); /* subtile Lichtkante */
  .loading {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.88);
    font-size: 2rem;
  }

  .bet-timer {
    padding: $tn;
    &.active {
      color: $primary-green-light;
    }

    &.warning {
      color: orange;
    }

    &.error {
      color: $primary-red;
    }
  }

  .matchday-label {
    padding: $tn;
    text-align: center;
    font-size: .85rem;
    font-weight: 300;
  }
  .bet-game, .game-info {
    padding: $tn;
  }

  .game-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    padding: $tn $sm;
    font-weight: 400;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: $tn;
  }

  .bet-community {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    padding: $sm 0;
    margin: 0 auto;
    width: 80%;

    button {
      width: 100%;
      background-color: $background-color-dark;
      border-radius: 0;
      border: 1px solid $light-gray-border;
    }

    .bet-game {
      display: none;
      padding: $tn 0;
      grid-template-columns: 1fr 1fr 1fr;

      &.show {
        display: grid;
      }

      .result {
        font-size: 1rem !important;
      }
    }
  }

  .bet-game {
    width: 100%;
    grid-template-columns: 3fr 1fr 3fr;
    row-gap: $md;
    align-items: center;
    justify-items: center;
    padding: $sm 0 $md 0;
    display: grid;

    .home, .away {
      width: 100%;
      font-size: clamp(1rem, 3vw, 1.25rem);
      text-align: center;
    }

    .result {
      font-size: clamp(1.5rem, 3vw, 1.75rem);
      font-weight: 800;
      display: flex;
      justify-content: center;
      align-items: center;
      .number {
        border: 1px solid $light-gray-border;
        padding: 0 $tn;
        margin: $tn;
        min-width: 18px;
        text-align: center;
        &.hit {
          color: #fff;
          background-color: $primary-green;
        }
        &.miss {
          color: #fff;
          background-color: $primary-red;
        }
      }
    }
    .score {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
    }
  }

  .bet-result {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    padding: $tn 0;

    div {
      text-align: center;
    }

    .home, .away {
      display: flex;
      justify-content: center;
    }

    .submit {
      display: flex;
      justify-content: center;
      align-items: center;

      .button:disabled {
        opacity: 0.5;
      }
    }

    .addButton, .subButton {
      display: block;
      padding: 0;
      margin: $tn;
      height: 32px;
      width: 32px;
      align-content: center;
      font-weight: bold;
      font-size: 1.25rem;
      border: 1px solid rgba(255, 255, 255, 0.25);
      cursor: pointer;
      user-select: none;

      &:active {
        background-color: white;
        color: black;
      }
    }
  }
  .bet-until {
    display: flex;
    justify-content: center;
    color: lightgray;
    gap:$tn;
    padding: $sm 0;
  }
}
