$unit: 8px;

$tn: $unit;
$sm: $unit*2;
$md: $unit*4;
$lg: $unit*8;
$xl: $unit*16;

$success: rgba(0, 255, 0, 0.5);
$error: rgba(255, 0, 0, 0.5);
$button-neutral-color: #547808;
$primary-green: #007400;
$primary-red: #982222;
$background-color-dark: rgb(40,40,40);
$background-color-darkest: rgba(28, 28, 28);
$light-gray-border: rgba(200, 200, 200, 0.25);

$smFont: 0.75rem;
$mdFont: 1rem;
