{% extends 'base.html.twig' %}
{% set isUser = app.user is not null and app.user.id == userId %}
{% block content %}

    <div {{ vue_component('BetView', {
        games,
        interaction: isUser
    }) }}></div>

{% endblock %}
